table {
    width: 100%;
}

tr:hover {
    background: red;
}

tr.current {
    background: #D32525;
}

td, th {
    border-bottom: 1px solid white;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

td.program {
    width: 80%;
}

td.from,
td.to {
    width: 10%;
}